.header {
  background-color: var(--light);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0.96;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}

h1 {
  align-self: center;
  font-weight: 100;
  font-size: 2rem;
  width: 100%;
}
